#mainblobshitwithlist {
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

#header {
    text-align: center;
    background-color: #49B9CA;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

#chatframe {
    height: 50%;
    width: 25%;
    position: sticky;
    bottom: 0;
    right: 0;
    float: right;
}

#chattoggle {
    height: 10%;
    width: 35%;
    //background-color: #D7D7D7;
    bottom: 0;
    float: right;
}

#messenger {
    background-color: #49B9CA;
    height: 60vh;
    width: 100%;
}

.button {
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}

.button:hover {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
}

.buttons {
    display: inline-block;
    float: right;
    font-weight: bold;
}

.darkbutton {
    display:none;
    text-align:center;
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
}
    
#logo {
    display:inline-block;
    float: left;
    width: 10%;
}

span {
    display:inline-block;
}

footer {
    background-color: #49B9CA;
    text-align: center;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}




