#mainblobwithlist {
	background-color: var(--mainblobwithlist);
	color: var(--mainblobwithlisttext);
	word-wrap: break-word;
	padding: 15px;
	border-radius: 15px;
	transition: all 0.2s;
}

#loadmore, #followloadmore {
	display: block;
	text-align: center
}

#followblob {
	background-color: var(--mainblobwithlist);
	color: var(--mainblobwithlisttext);
	word-wrap: break-word;
	padding: 15px;
	border-radius: 15px;
}

#feedselect {
	text-align: center;
	background-color: var(--header);
	color: var(--mainblobwithlisttext);
	word-wrap: break-word;
	padding: 15px;
	border-radius: 15px;
}

#header {
	text-align: center;
	background-color: var(--header);
	word-wrap: break-word;
	padding: 15px;
	border-radius: 15px;
}

#chatframe {
	height: 50%;
	width: 30%;
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	right: 0;
	float: right;
}

#chattoggle {
	/* height: 10%; */
	/* width: 35%; */
	//
	background-color: #D7D7D7;
	bottom: 0;
	float: right;
	text-decoration: none;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
	transition: all 0.2s;
	cursor: pointer;
	background-color: var(--button2);
	color: var(--onlitext);
	outline: none;
	border: none;
	font-size: 100%;
	margin: 0;
}

#messenger {
	background-color: var(--messenger);
	height: 80vh;
	width: 100%;
}

.post {
    position:relative;
    background-color: var(--post);
    word-wrap: break-word;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    color: var(--posttext);
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.2);
}

.post .overlay {
    position:absolute;
    padding:10px;
    left:0; top:0; bottom:0; right:0;
}

.post .inner {
    position:relative;
    pointer-events: none;
    z-index: 1;
}

.post .inner a {
    pointer-events: all;
}

.buttons {
	display: inline-block;
	float: right;
	font-weight: bold;
}

.darkbutton {
	display:none;
	text-align:center;
	background-color: black;
	color: white;
	padding: 6px;
	border-radius: 5px;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
}
	
#logo {
	display: inline-block;
	width: 35%;
}
@media only screen and (max-width: 700px) {
  #logo {
	width: 50%;
  }
  #chatframe {
	display: none;
  }
}

span {
	display:inline-block;
}

footer {
	background-color: var(--footer);
	text-align: center;
	word-wrap: break-word;
	padding: 15px;
	border-radius: 15px;
}
