body {
    background-color: var(--body);
    word-wrap: break-word;
    touch-action: manipulation;
    overflow-y: auto;
    font-family: Verdana,sans-serif;
    line-height: 1.41;
    color: var(--textcolor);
    max-width: var(--maxmarg);
    margin-left: var(--marginlefts);
    margin-right: var(--marginrights);
}

@media only screen and (max-width: 1024px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }
  }

.button {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--buttoncolor);
    color: var(--buttontext);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    transition: all 0.2s;
    cursor: pointer;
}

.onli {
    background-color: var(--footer);
    color: var(--onlitext);
}


.onli:hover {
    color: var(--onlitext);
}

.onli a{
    color: var(--onlitext);
}

#submit:hover, #searchbutton:hover, #send:hover, #login:hover, #follow:hover, #viewattachment:hover, #commentbutton:hover {
    color: var(--onlitext);
}

##chattoggle {
	/* height: 10%; */
	/* width: 35%; */
	background-color: #D7D7D7;
	bottom: 0;
	float: right;
	text-decoration: none;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
	transition: all 0.2s;
	cursor: pointer;
	background-color: var(--button2);
	color: var(--onlitext);
	outline: none;
	border: none;
	font-size: 100%;
	margin: 0;
}


.unsel {
    background-color: rgba(0, 0, 0, 0.459);
    text-decoration: none;
    font-weight: bold;
    color: var(--onlitext);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
}

.sel {
    background-color: var(--buttoncolor);
    text-decoration: none;
    font-weight: bold;
    color: var(--buttontext);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}

.button a {
	text-decoration: none; 
}

.button:disabled{
    cursor: not-allowed;
}

.button:hover:disabled{
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}

.button:active:disabled{
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}

.button:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

.button:focus{
    outline: none;
}

.button:active{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width: 700px) {
  #chatframe {
    display: none;
  }
}

a, a:visited:not([href]), a:hover:not([href]), a:active:not([href]) {
    color: inherit;
  }

footer {
    background-color: var(--footer);
    color: var(--footertext);
    text-align: center;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

.loader {
    border: 12px solid var(--body);
    border-radius: 50%;
    border-top: 12px solid var(--spinner1);
    border-right: 12px solid var(--spinner2);
    border-bottom: 12px solid var(--spinner3);
    width: 75px;
    height: 75px;
    -webkit-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#centerback {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

hr {
    color: var(--hrcolor);
}

input:not(.unstyle) {
    outline: none;
    border: 2px solid gray;
    background-color: var(--mainblobwithlist);
    color: var(--textcolor);
    padding: 8px;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    border-radius: 5px;
    transition: all 0.2s;
}

input:not(.unstyle):focus {
    border: 2px solid var(--body);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

input:not(.unstyle):not([type="file"]):hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

select:not(.unstyle) {
    font-weight: bold;
    background-color: var(--footer);
    color: var(--onlitext);
    padding: .75em 1.65em .75em .85em;
    box-sizing: border-box;
    margin: 0;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23419fae%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    outline: 0;
    border: none;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}
select:not(.unstyle):focus {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

textarea:not(.unstyle) {
    outline: none;
    border: 2px solid gray;
    background-color: var(--mainblobwithlist);
    color: var(--textcolor);
    padding: 8px;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    border-radius: 5px;
    transition: all 0.2s;
}

textarea:not(.unstyle):focus {
    border: 2px solid var(--body);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

textarea:not(.unstyle):hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}