body {
	background-color: #98DFF3;
	word-wrap: break-word;
	touch-action: manipulation;
	overflow-y: auto;
	font-family: Verdana,sans-serif;
	line-height: 1.41;
}

.button {
	text-decoration: none; 
	font-weight: bold;
	background-color: white; 
	padding: 8px; 
	border-radius: 5px; 
	font-weight: bold;
	box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    	transition: all 0.2s;
}

.button a {
	text-decoration: none; 
}

.button:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

@media only screen and (max-width: 700px) {
  #chatframe {
    display: none;
  }
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

footer {
	background-color: #49B9CA;
	text-align: center;
	word-wrap: break-word;
	padding: 15px; 
	border-radius: 15px;
}
