body {
	background-color: #98DFF3;
	text-align: center;
	word-wrap: break-word;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}
