body {
    background-color: #98DFF3;
    word-wrap: break-word;
    text-align: center;
}
#main {
    border-radius: 15px; 
    padding: 15px; 
    background-color: white;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}
