body {
    word-wrap: break-word;
    text-align: center;
}
#main {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--mainblobwithlist);
}
#content {
	width: 39%;
	height: 48vh;
}
@media only screen and (max-width: 700px) {
	#content {
		width: 98%
	}
}