body {
	text-align: center;
}

#header {
	text-align: center;
	background-color: #49B9CA;
	word-wrap: break-word;
}

#searchstuff {
	text-align: left;
	background-color: #FFFFFF;
	word-wrap: break-word;
}