#poststuff {
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

#content {
    white-space:pre-wrap;
}

#comment {
    background-color: #98DFF3;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
}

#image {
    width: 50%;
}

.replyto {
    color: #d7d7d7;
    font-size: 80%;
    text-decoration: none;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    transition: all 0.2s;
}

.replyto a {
	text-decoration: none; 
}

.replyto:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

#chatframe {
    height: 50%;
    width: 25%;
    position: sticky;
    bottom: 0;
    right: 0;
    float: right;
}

#chattoggle {
    height: 10%;
    width: 35%;
    //background-color: #D7D7D7;
    bottom: 0;
    float: right;
}

#messenger {
    background-color: #49B9CA;
    height: 60vh;
    width: 100%;
}

footer {
    padding: 15px;
    border-radius: 15px;
}
.button {
    font-weight: bold;
}
