#poststuff {
    background-color: var(--mainblobwithlist);
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

#content {
    white-space:pre-wrap;
}

#comment {
    background-color: var(--post);
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
}

#image {
    width: 50%;
}

@media only screen and (max-width: 700px) {
  #image {
    width: 100%;
  }
}

.replyto {
    color: var(--buttoncolortext);
    font-size: 80%;
    text-decoration: none;
    background-color: var(--buttoncolor);
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    transition: all 0.2s;
}

.replyto a {
	text-decoration: none; 
}

.replyto:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

#chatframe {
    height: 50%;
    width: 25%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    right: 0;
    float: right;
}

#chattoggle {
    height: 10%;
    width: 35%;
    //background-color: #D7D7D7;
    bottom: 0;
    float: right;
}

#messenger {
    background-color: var(--messenger);
    height: 60vh;
    width: 100%;
}

#comtent {
    width: 20%;
    height: 15vh;
    background-color: var(--comtent);
    color: var(--comtenttext);
}

@media only screen and (max-width: 700px) {
	#comtent {
		width: 98%;
	}
}

footer {
    padding: 15px;
    border-radius: 15px;
}
.button {
    font-weight: bold;
}
