body {
	text-align: left;
}

#privacies {
	background-color: white;
	padding: 15px;
	border-radius: 15px;
	word-wrap: break-word;
}

#main {
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}
