body {
	text-align: left;
}

#privacies {
    background-color: var(--mainblobwithlist);
    padding: 15px;
    border-radius: 15px;
    word-wrap: break-word;
}

#main {
    background-color: var(--mainblobwithlist);
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}
