body {
	text-align: left;
	background-color: white;
	padding: 15px;
	border-radius: 15px;
	word-wrap: break-word;
}

#privacies {
	background-color: white;
	padding: 15px;
	border-radius: 15px;
	word-wrap: break-word;
}
