#userstuffs {
    background-color: var(--mainblobwithlist);
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

#chatframe {
    height: 50%;
    width: 25%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    right: 0;
    float: right;
}

#chattoggle {
	/* height: 10%; */
	/* width: 35%; */
	background-color: #D7D7D7;
	bottom: 0;
	float: right;
	text-decoration: none;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
	transition: all 0.2s;
	cursor: pointer;
	background-color: var(--button2);
	color: var(--onlitext);
	outline: none;
	border: none;
	font-size: 100%;
	margin: 0;
}

#messenger {
    background-color: var(--messenger);
    height: 60vh;
    width: 100%;
}
#bio {
	background-color: var(--bio);
	word-wrap: break-word;
	padding: 10px; 
	border-radius: 10px;
}

.button {
	font-weight: bold;
}

#username {
    font-size: 150%;
    font-weight: bold;
}

.posts {
    background-color: var(--post);
	word-wrap: break-word;
	padding: 10px;
	border-radius: 10px;
	color: var(--posttext);
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
}

.nodec {
    text-decoration: none;;
}

.centers {
    text-align: left;
}

@media only screen and (max-width: 700px) {
    .centers {
        text-align: center;
    }
  }