#userstuffs {
	background-color: #FFFFFF;
	word-wrap: break-word;
	padding: 15px; 
	border-radius: 15px;
}

#chatframe {
    height: 50%;
    width: 25%;
    position: sticky;
    bottom: 0;
    right: 0;
    float: right;
}

#chattoggle {
    height: 10%;
    width: 35%;
    /*background-color: #D7D7D7;*/
    bottom: 0;
    float: right;
}

#messenger {
    background-color: #49B9CA;
    height: 60vh;
    width: 100%;
}
#bio {
	background-color: #F0F0F0;
	word-wrap: break-word;
	padding: 10px; 
	border-radius: 10px:
}

.button {
	font-weight: bold;
}
