:root {
    --body: #4285F4;
    --textcolor: black;
    --buttoncolor: white;
    --buttontext: black;
    --mainblobwithlist: white;
    --mainblobwithlisttext: black;
    --header: #0d47a1;
    --messenger: #49B9CA;
    --footer: #0d47a1;
    --bio: #F0F0F0;
    --post: #4285F4;
    --posttext: black;
    --link: #000000;
    --visted: #00000;
    --hover: #000000;
    --active: #000000;
    --footertext: black;
    --comtent: white;
    --comenttext: black;
    --spinner1: #0d47a1;
    --spinner2: #0d47a1;
    --spinner3: #0d47a1;
    --hrcolor: black;
    --onlitext: white;
    --button2: #0a3575;
    --maxmarg: auto;
    --marginlefts: 15px;
    --marginrights: 15px;
}
