:root {
    --body: #ef5350;
    --textcolor: black;
    --buttoncolor: white;
    --buttontext: black;
    --mainblobwithlist: white;
    --mainblobwithlisttext: black;
    --header: #d32f2f;
    --messenger: #49B9CA;
    --footer: #d32f2f;
    --bio: #F0F0F0;
    --post: #ef5350;
    --posttext: black;
    --link: #000000;
    --visted: #00000;
    --hover: #000000;
    --active: #000000;
    --footertext: black;
    --comtent: white;
    --comenttext: black;
    --spinner1: #d32f2f;
    --spinner2: #d32f2f;
    --spinner3: #d32f2f;
    --hrcolor: black;
}
