:root {
    --body: black;
    --textcolor: white;
    --buttoncolor: #262626;
    --buttontext: white;
    --mainblobwithlist: #171717;
    --mainblobwithlisttext: white;
    --header: #0e0e0e;
    --messenger: #3c3c3c;
    --footer: #0e0e0e;
    --bio: #262626;
    --post: #262626;
    --posttext: white;
    --link: white;
    --visted: white;
    --hover: white;
    --active: white;
    --footertext: white;
    --comtent: #171717;
    --comenttext: white;
    --spinner1: #49B9CA;
    --spinner2: #49B9CA;
    --spinner3: #49B9CA;
    --hrcolor: #98DFF3;
    --onlitext: white;
    --button2: #474747;
    --maxmarg: auto;
    --marginlefts: 15px;
    --marginrights: 15px;
}
