:root {
    --body: #98DFF3;
    --buttoncolor: white;
    --buttontext: black;
    --mainblobwithlist: white;
    --mainblobwithlisttext: black;
    --header: #49B9CA;
    --messenger: #49B9CA;
    --post: #98DFF3;
    --footer: #49B9CA;
    --bio: #F0F0F0;

}
