:root {
    --body: #98DFF3;
    --textcolor: black;
    --buttoncolor: white;
    --buttontext: black;
    --mainblobwithlist: white;
    --mainblobwithlisttext: black;
    --header: #49B9CA;
    --messenger: #49B9CA;
    --footer: #49B9CA;
    --bio: #F0F0F0;
    --post: #98dff3;
    --posttext: black;
    --link: #000000;
    --visted: #00000;
    --hover: #000000;
    --active: #000000;
    --footertext: black;
    --comtent: white;
    --comenttext: black;
    --spinner1: #FFFFFF;
    --spinner2: #FFFFFF;
    --spinner3: #FFFFFF;
    --hrcolor: black;
    --onlitext: white;
    --button2: rgb(51, 128, 139);
    --maxmarg: auto;
    --marginlefts: 15px;
    --marginrights: 15px;
}
